* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --card-color-primary: #f7dd43;
    --card-tittle-border-color: #746615;
    --card-bg-color: #1d1c19;
    --bg-image: url(./assets/bgs/bg-yellow.svg)
}

.blue {
    --card-color-primary: #338af3;
    --card-tittle-border-color: #338af3;
    --card-bg-color: #1d1c19;
    --bg-image: url(./assets/bgs/bg-blue.svg)
}

.green {
    --card-color-primary: #047C3F;
    --card-tittle-border-color: #047C3F;
    --card-bg-color: #1d1c19;
    --bg-image: url(./assets/bgs/bg-green.svg)
}

body {
    background-color: var(--card-bg-color);
    background-image: var(--bg-image);
    background-position: top center; /*y e x respectivamente */
    background-repeat: no-repeat;
    background-size: cover;
}

#app {
    width: fit-content; /*Encaixe no conteúdo*/
    margin: auto;
    padding-top: 52px;
}

header {
    display: flex;
    justify-content: center;

    margin-bottom: 63px;
}

#cards {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.card {
    padding: 32px 23px;
    background: #1D1c19;
    border-bottom: 2px solid var(--card-color-primary);
    border-radius: 6px;
}

.card h2 {
    margin: auto;
    margin-bottom: 56px;

    padding: 8px 16px;
    border: 1px solid var(--card-tittle-border-color);
    border-radius: 6px;
    width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    color: #f7dd43;
}

.card h2 span {
    color: #E1E1E6;
    font-size: 14px;
    text-transform: uppercase;

}

.card ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 270px;
}

.card ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 36px;
    
}

.card ul li + li { /* Pega um filho de LI e aplica as propriedades */
    border-top: 1px solid #323238;
    padding-top: 20px; 
}

.card ul li strong {
    font-weight: bold;
    font-size: 28px;
    line-height: 125%;

    color: #E1E1E6;
}

/* transições */

.card h2:hover, .card ul li strong:hover, .card ul li img:hover {
    transform: scale(1.2);

}

.card h2, .card ul li strong, .card ul li img {
    transition: transform .3s;

}

@keyframes appear {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.card {
    opacity: 0;
    animation: appear .2s forwards;
}

/* Responsividade */

@media (min-width: 400px) {
    #cards {
        max-width: 1316px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    header {
        margin-bottom: calc(63px / 2);
    }

    header img{
        width: calc(183px * 1.2);
    }
}